<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>Mdash</title>
  <link rel="preload" href="{{localUrl}}.woff2" as="font" crossorigin>
  <link rel="stylesheet" href="/custom-properties.css">
  <link rel="stylesheet" href="{{localUrl}}.css">
  <script defer src="{{localUrl}}.js"></script>
  {{> head-tags}}
  <style>
    #menu { flex: 0 0 180px }

    #m-logo {
      width: 60px;
      height: 60px;
      background-color: #2B2B2B;
      border: 2px solid #8DBF28;
      color: #E9C063;
      font-family: Menlo, Monaco, monospace;
      font-size: 36px;
      cursor: default;
    }

    #m-logo span {
      top: 8px;
      left: 10px;
    }

    #menu-toggle {
      z-index: 11;
    }

    @media only screen and (max-width: 576px) {
      #menu-toggle { display: block }
      #home-logo-version { display: block }
      #menu { display: none }
      #menu[open] {
        background-color: white;
        z-index: 10;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  </style>
</head>
<body class="flex" style="height: 100%">
  <m-icon id="menu-toggle" name="menu" class="hidden pos-absolute pad-md pointer txt-md"></m-icon>
  <aside id="menu" class="pad-md">
    <div>
      <div id="m-logo" aria-label="Mdash logo" class="mar-auto fnt-bold pos-relative brd-radius-full mar-b-xs"><span class="pos-absolute">m-</span></div>
      <small class="block mar-b-md txt-center txt-gray-6">{{version}}</small>
      <nav>
        <a href="/" class="block mar-b-xs">Home</a>
        <a href="/examples" class="block mar-b-xs">Examples</a>
        <a href="/comparison" class="block mar-b-xs">Comparison</a>
        <a href="https://github.com/jfbrennan/m-" class="flex align-items-center mar-b-xs">GitHub</a>
        <a href="https://twitter.com/realEmDash" class="flex align-items-center mar-b-xs">Twitter</a>
        <hr class="mar-t-md mar-b-md">
        <h4 class="mar-b-sm">Components</h4>
        <a href="/accordion" class="block mar-b-xs">Accordion</a>
        <a href="/alert" class="block mar-b-xs">Alert</a>
        <a href="/autocomplete" class="block mar-b-xs">Autocomplete</a>
        <a href="/badge" class="block mar-b-xs">Badge</a>
        <a href="/box" class="block mar-b-xs">Box</a>
        <a href="/breadcrumb" class="block mar-b-xs">Breadcrumb</a>
        <a href="/button" class="block mar-b-xs">Button</a>
        <a href="/checkbox" class="block mar-b-xs">Checkbox</a>
        <a href="/container" class="block mar-b-xs">Container</a>
        <a href="/details" class="block mar-b-xs">Details</a>
        <a href="/dialog" class="block mar-b-xs">Dialog</a>
        <a href="/dot" class="block mar-b-xs">Dot</a>
        <a href="/form" class="block mar-b-xs">Form</a>
        <a href="/grid" class="block mar-b-xs">Grid</a>
        <a href="/icons" class="block mar-b-xs">Icons</a>
        <a href="/input" class="block mar-b-xs">Input</a>
        <a href="/keyboard" class="block mar-b-xs">Keyboard</a>
        <a href="/link" class="block mar-b-xs">Link</a>
        <a href="/loader" class="block mar-b-xs">Loader</a>
        <a href="/menu" class="block mar-b-xs">Menu</a>
        <a href="/radio" class="block mar-b-xs">Radio</a>
        <a href="/range" class="block mar-b-xs">Range</a>
        <a href="/select" class="block mar-b-xs">Select</a>
        <a href="/separator" class="block mar-b-xs">Separator</a>
        <a href="/switch" class="block mar-b-xs">Switch</a>
        <a href="/table" class="block mar-b-xs">Table</a>
        <a href="/tabs" class="block mar-b-xs">Tabs</a>
        <a href="/tag" class="block mar-b-xs">Tag</a>
        <a href="/textarea" class="block mar-b-xs">Textarea</a>
        <h4 class="mar-b-sm">Typography</h4>
        <a href="/code" class="block mar-b-xs">Code</a>
        <a href="/headings" class="block mar-b-xs">Headings</a>
        <a href="/lists" class="block mar-b-xs">Lists</a>
        <a href="/rules" class="block mar-b-xs">Rule</a>
        <a href="/text" class="block mar-b-xs">Text</a>
        <h4 class="mar-b-sm">Styles</h4>
        <a href="/custom-properties" class="block mar-b-xs">Custom Properties</a>
        <a href="/utility-classes" class="block mar-b-xs">Utility Classes</a>
<!--        <h4 class="mar-b-sm">Patterns</h4>-->
<!--        <a href="/head-tags" class="block mar-b-xs">Head Tags</a>-->
<!--        <a href="/navbar" class="block mar-b-xs">Navbar</a>-->
<!--        <a href="/searchbar" class="block mar-b-xs">Search</a>-->
<!--        <a href="/patterns/toolbar" class="block mar-b-xs">Toolbar</a>-->
        <hr class="mar-t-md mar-b-md">
        <small class="block txt-center">Copyright &copy; 2023<br>Jordan Brennan</small>
      </nav>
    </div>
  </aside>
  <main class="pad-md pad-b-lg flx-grow-1">
    {{{body}}}
  </main>

  <!-- Scripts below (order matters) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-html.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
  <script src="/code-sample.riot" type="riot/tag"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
  <script>
    riot.compile(() => {
      riot.mount('*');

      // Focus demo section code-sample
      const codeSample = document.body.querySelector('code-sample');
      codeSample?._tag?.setCursor();
    });
  </script>
  <script>
    // Menu toggle (for small screens)
    document.getElementById('menu-toggle').addEventListener('click', e => document.getElementById('menu').toggleAttribute('open'));
  </script>
</body>
</html>